body {
  font-family: 'Lato', sans-serif;
}

section {
    height:600px;
    padding-top:200px;
    padding-bottom:200px;
    overflow:auto;
}

#featured .img-responsive {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#featured .img-responsive:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

#pictures .img-responsive {
  border: solid 1px rgba(0, 0, 0, 0.25);
}

#pictures .img-responsive:hover {
  border: solid 1px rgba(0, 0, 0, 0.75);
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.background-img {
  background: url("../images/HeroHeader.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.background-dark {
  background: #474747;
  color: white;
}

.background-light {
  background: #F3EFE0;
}

.background-white {
  background: white;
}

.hr-dark {
  background-color: #474747;
  height: 1px;
}

.introduction {
  margin-top: 30px;
  margin-bottom: 30px;
  display: none;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 52px;
}

.title-headshot {
  margin-top: 30px;
}

.footer {
  padding-bottom: 18px;
}

.icon-padded {
  padding: 5px;
}
