@import "_colors.scss";

.groovy-orange {
  background-color: $orange;
}

.groovy-orange hr {
  border-top: 1px solid $dark-brown;
}

.groovy-mango {
  background-color: $mango;
}

.groovy-mango hr {
  border-top: 1px solid $dark-brown;
}

.groovy-gold {
  background-color: $gold;
}

.groovy-gold hr {
  border-top: 1px solid $dark-brown;
}

.groovy-gold .nav-tabs .active a {
  background-color: $cream;
  border: none;
  border-radius: 4px;
  color: $dark-brown;
}

.groovy-gold .nav-tabs .active a:focus {
  background-color: $cream;
  border: none;
  border-radius: 4px;
  color: $dark-brown;
}

.groovy-gold .nav-tabs .active a:hover {
  background-color: $cream;
  border: none;
  border-radius: 4px;
  color: $dark-brown;
}

.groovy-gold .nav-tabs a:focus {
  background-color: $gold;
  border: none;
  border-radius: 4px;
  color: $dark-brown;
}

.groovy-gold .nav-tabs a:hover {
  background-color: $gold;
  border: none;
  border-radius: 4px;
  color: $dark-brown;
}

.groovy-cream {
  background-color: $cream;
}

.groovy-cream hr {
  border-top: 1px solid $dark-brown;
}

.groovy-chocolate {
  background-color: $dark-brown;
  color: $cream;
}

.groovy-chocolate hr {
  border-top: 1px solid $cream;
}

body {
  color: $dark-brown;
  font-family: 'Candal', sans-serif;
}

section {
    height:600px;
    padding-top:200px;
    padding-bottom:200px;
    overflow:auto;
}

#featured .img-responsive {
  border: 1px solid $cream;
  cursor: pointer;
  transition: transform .4s;
}

#featured .img-responsive:hover {
  border: 1px solid $dark-brown;
  transform: translateY(-.3rem);
}

#pictures .img-responsive {
  border: solid 1px $dark-brown;
  transition: transform .4s;
}

#pictures .img-responsive:hover {
  transform: translateY(-.5rem);
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.background-img {
  background: url("../images/HeroHeader.jpg") no-repeat center center fixed;
  background-size: cover;
  color: $cream;
}

.introduction {
  margin-top: 30px;
  margin-bottom: 30px;
  display: none;
}

.text-thin {
  font-weight: 400;
}

.title-super {
  font-size: 52px;

  @media (max-width : 480px) {
    font-size: 34px;
  }
}

.title-headshot {
  margin-top: 30px;
}

.footer {
  padding-bottom: 18px;
}

.icon-padded {
  padding: 5px;
}

.nav-tabs {
  border-bottom: 1px solid $dark-brown;
}

.skill {
  margin-left: 16px;
}

.navbar {
  border-radius: 0;
  position: fixed;
  right: 1%;
  top: 60px;
  z-index: 999;
}

.navbar-collapse {
  padding: 0;
}

.nav-item {
  color: $cream;
  display: block;
  font-size: 16px;
  font-weight: 700;
  height: 80px;
  line-height: 80px;
  opacity: 0.7;
  text-align: center;
}

.nav-item span {
  padding: 0 10px;
}

.nav-item.active {
  border: solid 1px $dark-brown;
  color: $dark-brown;
  opacity: 1;
}

.nav-item:active {
  color: $cream;
  opacity: 1;
  text-decoration: none;
}

.nav-item:focus {
  color: $cream;
  opacity: 1;
  text-decoration: none;
}

.nav-item:hover {
  color: $cream;
  opacity: 1;
  text-decoration: none;
}

.nav-item.active:hover {
  color: $dark-brown;
  opacity: 1;
  text-decoration: none;
}

@media only screen
  and (min-width : 976px) {
  .hide-on-desktop {
    display: none;
  }
}

@media only screen
  and (min-width : 481px)
  and (max-width : 975px) {
  .hide-on-tablet {
    display: none;
  }
}

@media only screen
  and (max-width : 480px) {
  .hide-on-mobile {
    display: none;
  }

  .title-super {
    font-size: 34px;
  }
}
